keras==3.2.1
Markdown==3.6
markdown-it-py==3.0.0
numpy==1.26.4
pandas==2.2.1
pillow==10.3.0
plotly==5.20.0
pygwalker==0.4.7
scikit-learn==1.4.2
sequential==1.0.0
setuptools==69.2.0
streamlit==1.33.0
streamlit-option-menu==0.3.12
svm==0.1.0
tensorflow==2.16.1
