h5py==3.12.1
keras==3.6.0
Markdown==3.7
markdown-it-py==3.0.0
numpy==2.0.2
pandas==2.2.2
pillow==10.4.0
plotly==5.24.1
requests==2.32.3
requests-oauthlib==2.0.0
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.3.0
streamlit==1.39.0
TensorFlow 2.10.0
termcolor==2.5.0
urllib3==2.2.3
watchdog==5.0.3
